.tool-display-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1rem 1.5rem;
  border-radius: var(--radius-lg);
  box-shadow: 0 1px 3px oklch(0 0 0 / 8%);
  background-color: var(--muted);
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;

  .background-decoration {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 2rem;
    color: var(--primary);
    opacity: 0.4;
  }
}
