
.gauge-wrapper {
  display: grid;
  place-items: center;
  width: 250px;
  aspect-ratio: 1 / 1;
}

.footer-section {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  margin-top: 1rem;

  .row-section {
    display: flex;
    gap: inherit;
  }

  .footer-card {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    background-color: #F5F5F5;
    padding: 0.75rem;
    border-radius: 5px;
    flex: 1;

    * {
      margin: 0;
    }
  }
}
