// alignment
.text-start {
  text-align: start;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}
// colors
.text-primary {
  color: var(--primary) !important;
}
.text-secondary {
  color: var(--muted-foreground) !important;
}
