// alignment
.text-start {
  text-align: start;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}
// colors
.text-primary {
  color: #1890ff !important;
}
.text-secondary {
  color: #00000073 !important;
}
