// Layout
.d-flex {
  display: flex;
}

// Align
.justify-content-center {
  justify-content: center;
}

// Spacing
.mt-1 {
  margin-top: 1rem;
}

// Text
.text-start {
  text-align: start;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}
