// Layout
.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.span {
  flex: 1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  width: 100%;
  height: inherit;
}

// Align
.justify-content-center {
  justify-content: center;
}

// Spacing
.mt-0 {
  margin-top: 0 !important;
}
.mt-1 {
  margin-top: 1rem !important;
}
.ms-auto {
  margin-left: auto;
}

// Text
.text-start {
  text-align: start;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

// Size
.h-inherit {
  height: inherit;
}

.w-100 {
  width: 100%;
}
